@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dancing Script font faces */
@font-face {
  font-family: dancing;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("fonts/dancingscript/DancingScript-Bold.ttf") format("truetype");
}
/* Mona Sans font faces */
@font-face {
  font-family: monasans-bold;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("fonts/monasans/MonaSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: monasans-med;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/monasans/MonaSans-Medium.ttf") format("truetype");
}
/* Fira code font face */
@font-face {
  font-family: firacode;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("fonts/firacode/FiraCode-Regular.ttf") format("truetype");
}
/* Montserrat font faces */
@font-face {
  font-family: montserrat-light;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/montserrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: montserrat-med;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: montserrat-semibold;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: montserrat-bold;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: montserrat-extrabold;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("fonts/montserrat/Montserrat-ExtraBold.ttf") format("truetype");
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px theme("colors.brand.dark");
    text-stroke: 1px theme("colors.brand.dark");
  }
  .text-stroke-none {
    -webkit-text-stroke: 1px theme("colors.brand.primary");
    text-stroke: 1px theme("colors.brand.primary");
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  header {
    @apply container h-20;
  }

  body {
    @apply min-w-80 overflow-auto flex flex-col items-center justify-center font-mont-med bg-brand-primary text-brand-light select-none transition;
  }

  main {
    @apply flex flex-col justify-center items-center w-full;
  }

  footer {
    @apply w-full;
  }

  b {
    @apply font-mont-bold;
  }

  /* Main scroll-bar */
  body::-webkit-scrollbar {
    @apply w-3;
  }
  body::-webkit-scrollbar-track {
    @apply bg-slate-200 bg-opacity-50;
  }
  body::-webkit-scrollbar-thumb {
    @apply bg-brand-secondary cursor-pointer;
  }
}

@layer components {
  .section {
    @apply relative flex flex-row flex-wrap w-full h-full min-h-min justify-center items-center px-4 md:p-0;
  }

  .title {
    @apply relative font-mont-exbold text-3xl md:text-5xl z-1;
  }

  .section-title::after {
    content: attr(data-title);
    @apply absolute h-[1em] text-[125%] text-brand-primary -z-10 opacity-10 font-dancing;
  }

  .title-github::after {
    @apply text-[160%] h-auto;
  }

  .title-about::after {
    @apply -left-4 -top-4;
  }

  .title-cer::after {
    @apply mx-auto;
  }

  .about-interests {
    @apply relative pl-4 block;
    text-indent: -1.1rem;
    padding-left: 1.1rem;
  }

  .about-interests::before {
    content: "";
    @apply inline-block w-[6px] h-[6px] bg-brand-primary rounded-full;
    vertical-align: middle;
    margin-right: 0.5rem;
  }

  .about-interests b {
    @apply text-brand-secondary dark:text-brand-primary;
  }

  .about-links {
    @apply text-blue-600 underline underline-offset-4;
  }

  .button {
    @apply px-5 py-2 font-mont-bold bg-brand-secondary border-2 border-brand-neutral rounded-xl shadow-btn;
  }

  .button:active,
  .button:focus {
    transform: translate(-5px, 4px);
    box-shadow: none;
  }

  /* section divider */
  .divider {
    @apply absolute w-full h-[100px];
    background: inherit;
  }

  .divider-top {
    @apply top-[-5rem];
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 50%, 100% 0%);
  }

  .divider-bottom {
    @apply bottom-[-5rem];
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 50%, 0% 100%);
  }

  /* Menu settings */
  .menu-context {
    @apply flex flex-col lg:items-center justify-start gap-1 p-4 lg:p-0 mt-4 
           font-medium border border-gray-100 rounded-2xl bg-gray-50 lg:space-x-8 
           rtl:space-x-reverse lg:flex-row lg:mt-0 lg:border-0 lg:bg-transparent 
           dark:bg-gray-800 lg:dark:bg-transparent dark:border-gray-700;
  }

  .menu-item {
    @apply block py-2 px-3 rounded-lg transition-all text-gray-900 lg:text-brand-light 
           hover:bg-gray-200 hover:text-gray-900 lg:hover:text-brand-light lg:hover:bg-transparent 
           lg:hover:underline lg:p-0 lg:dark:hover:underline lg:underline-offset-4 
           lg:dark:hover:bg-transparent dark:text-brand-light dark:hover:bg-gray-700 
           dark:hover:text-brand-light dark:border-gray-700;
  }

  .active {
    @apply block py-2 px-3 rounded-lg text-brand-light bg-brand-primary antialiased tracking-wide
           hover:bg-brand-primary lg:hover:bg-transparent lg:dark:hover:bg-transparent 
           hover:text-brand-light lg:hover:no-underline lg:dark:hover:no-underline 
           dark:hover:bg-brand-primary dark:hover:text-brand-light lg:bg-transparent 
           lg:font-mont-exbold lg:dark:text-brand-light;
  }

  .touch-listItem__title::before {
    content: "";
    @apply absolute -left-[2px] w-[10px] h-full bg-brand-primary opacity-30 rounded-full;
  }

  /* Theme Switch */
  .theme-switch {
    --toggle-size: 15px;
    --container-width: 5em;
    --container-height: 2.5em;
    --container-radius: 6.25em;
    --container-light-bg: #3d7eae;
    --container-night-bg: #1d1f2c;
    --circle-container-diameter: 3.375em;
    --sun-moon-diameter: 2.125em;
    --sun-bg: #ecca2f;
    --moon-bg: #c4c9d1;
    --spot-color: #959db1;
    --circle-container-offset: calc(
      (var(--circle-container-diameter) - var(--container-height)) / 2 * -1
    );
    --stars-color: #fff;
    --clouds-color: #f3fdff;
    --back-clouds-color: #aacadf;
    --transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    --circle-transition: 0.3s cubic-bezier(0, -0.02, 0.35, 1.17);
  }

  .theme-switch,
  .theme-switch *,
  .theme-switch *::before,
  .theme-switch *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--toggle-size);
  }

  .theme-switch__container {
    width: var(--container-width);
    height: var(--container-height);
    background-color: var(--container-light-bg);
    border-radius: var(--container-radius);
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25),
      0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25),
      0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
  }

  .theme-switch__container::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset,
      0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset,
      0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    border-radius: var(--container-radius);
  }

  .theme-switch__checkbox {
    display: none;
  }

  .theme-switch__circle-container {
    width: var(--circle-container-diameter);
    height: var(--circle-container-diameter);
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: var(--circle-container-offset);
    top: var(--circle-container-offset);
    border-radius: var(--container-radius);
    -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
      inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
      0 0 0 0.625em rgba(255, 255, 255, 0.1),
      0 0 0 1.25em rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
      inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
      0 0 0 0.625em rgba(255, 255, 255, 0.1),
      0 0 0 1.25em rgba(255, 255, 255, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    pointer-events: none;
  }

  .theme-switch__sun-moon-container {
    pointer-events: auto;
    position: relative;
    z-index: 2;
    width: var(--sun-moon-diameter);
    height: var(--sun-moon-diameter);
    margin: auto;
    border-radius: var(--container-radius);
    background-color: var(--sun-bg);
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61)
        inset,
      0em -0.062em 0.062em 0em #a1872a inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset,
      0em -0.062em 0.062em 0em #a1872a inset;
    -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25))
      drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25))
      drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    overflow: hidden;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }

  .theme-switch__moon {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: var(--moon-bg);
    border-radius: inherit;
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61)
        inset,
      0em -0.062em 0.062em 0em #969696 inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset,
      0em -0.062em 0.062em 0em #969696 inset;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
  }

  .theme-switch__spot {
    position: absolute;
    top: 0.75em;
    left: 0.312em;
    width: 0.75em;
    height: 0.75em;
    border-radius: var(--container-radius);
    background-color: var(--spot-color);
    -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
  }

  .theme-switch__spot:nth-of-type(2) {
    width: 0.375em;
    height: 0.375em;
    top: 0.937em;
    left: 1.375em;
  }

  .theme-switch__spot:nth-last-of-type(3) {
    width: 0.25em;
    height: 0.25em;
    top: 0.312em;
    left: 0.812em;
  }

  .theme-switch__clouds {
    width: 1.25em;
    height: 1.25em;
    background-color: var(--clouds-color);
    border-radius: var(--container-radius);
    position: absolute;
    bottom: -0.625em;
    left: 0.312em;
    -webkit-box-shadow: 0.937em 0.312em var(--clouds-color),
      -0.312em -0.312em var(--back-clouds-color),
      1.437em 0.375em var(--clouds-color),
      0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color),
      1.25em -0.062em var(--back-clouds-color),
      2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color),
      3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color),
      4.5em -0.312em var(--clouds-color),
      3.375em -0.437em var(--back-clouds-color),
      4.625em -1.75em 0 0.437em var(--clouds-color),
      4em -0.625em var(--back-clouds-color),
      4.125em -2.125em 0 0.437em var(--back-clouds-color);
    box-shadow: 0.937em 0.312em var(--clouds-color),
      -0.312em -0.312em var(--back-clouds-color),
      1.437em 0.375em var(--clouds-color),
      0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color),
      1.25em -0.062em var(--back-clouds-color),
      2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color),
      3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color),
      4.5em -0.312em var(--clouds-color),
      3.375em -0.437em var(--back-clouds-color),
      4.625em -1.75em 0 0.437em var(--clouds-color),
      4em -0.625em var(--back-clouds-color),
      4.125em -2.125em 0 0.437em var(--back-clouds-color);
    -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  }

  .theme-switch__stars-container {
    position: absolute;
    color: var(--stars-color);
    top: -100%;
    left: 0.312em;
    width: 2.75em;
    height: auto;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }

  .theme-switch__checkbox:checked + .theme-switch__container {
    background-color: var(--container-night-bg);
  }

  .theme-switch__checkbox:checked
    + .theme-switch__container
    .theme-switch__circle-container {
    left: calc(
      100% - var(--circle-container-offset) - var(--circle-container-diameter)
    );
  }

  .theme-switch__checkbox:checked
    + .theme-switch__container
    .theme-switch__circle-container:hover {
    left: calc(
      100% - var(--circle-container-offset) - var(--circle-container-diameter) -
        0.187em
    );
  }

  .theme-switch__circle-container:hover {
    left: calc(var(--circle-container-offset) + 0.187em);
  }

  .theme-switch__checkbox:checked
    + .theme-switch__container
    .theme-switch__moon {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
  }

  .theme-switch__checkbox:checked
    + .theme-switch__container
    .theme-switch__clouds {
    bottom: -4.062em;
  }

  .theme-switch__checkbox:checked
    + .theme-switch__container
    .theme-switch__stars-container {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  /* Code Editor Styles */
  .code-editor {
    @apply bg-[#282c34] rounded-lg overflow-hidden flex flex-col;
  }

  .editor-header {
    @apply bg-[#dddddd] dark:bg-[#21252b] p-2 pb-0 flex items-center;
  }

  .tab {
    @apply flex justify-between items-center gap-2 p-[6px_12px] bg-[#ececec] dark:bg-[#282c34] 
           text-[#6a6a6a] dark:text-[#d4d4d4] rounded-t-lg text-sm opacity-35 font-mont-med;
  }

  .xIcon-tab {
    @apply size-4 cursor-pointer;
  }

  .active-tab {
    @apply bg-[#ffffff] dark:bg-[#282c34] text-[#b01011] dark:text-[#d4d4d4] border-b-2 border-[#569cd6] opacity-100;
  }

  .editor-content {
    @apply flex flex-row h-full overflow-hidden;
  }

  .line-numbers {
    @apply bg-[#f3f3f3] dark:bg-[#21252b] text-[#237893] dark:text-[#858585] p-2 text-right select-none text-sm leading-6;
  }

  .code-content {
    @apply flex-grow p-2 m-0 overflow-auto bg-[#ffffff] dark:bg-[#282c34] text-brand-dark dark:text-[#d4d4d4] text-sm leading-6;
  }

  .html-code {
    brand-light-space: inherit;
  }

  /* Syntax highlighting */
  .tag {
    @apply text-[#800000] dark:text-[#e06c75];
  }
  .attr {
    @apply text-[#e50000] dark:text-[#c79a66];
  }
  .string {
    @apply text-[#0055ff] dark:text-[#98c379];
  }
  .comment {
    @apply text-[#6a9955];
  }
  .keyword {
    @apply text-[#569cd6];
  }
  .operator {
    @apply text-[#d4d4d4];
  }

  /* Code editor scrollbar */
  .code-content::-webkit-scrollbar {
    @apply w-[5px];
    -webkit-appearance: none;
    scrollbar-width: thin;
  }

  .code-content::-webkit-scrollbar-thumb {
    @apply bg-[#c1c1c149] hover:bg-[#aeaeae49];
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}
